{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/editpassword" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password_old" placeholder="Contraseña Antigua" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password_new" placeholder="Contraseña Nueva" type="password">
        </div>
        <button onclick="showAlert()" class="btn btn-primary" id="button" type="submit">Guardar</button>
    </form>
{% endblock %}