{% extends "layout.html" %}

{% block title %}
    Editar Producto
{% endblock %}

{% block main %}

    <nav class="navbar navbar-expand-md navbar-light" id="subtitle">Editar Producto
    </nav>
    {% set count = namespace(value=0) %}
    {% for product in products %}
    <form id="create_form" method="post">
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Producto:</label>
            <div class="col-sm-4">
                <input name="name" value="{{ products[count.value].name }}" type="text" placeholder="Inserte el nuevo nombre" autofocus class="form-control">
            </div>
            <div class="col-sm-4">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Código:</label>
            <div class="col-sm-4">
                <input name="code" value="{{ products[count.value].code }}" type="text" placeholder="Inserte el nuevo nombre" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Precio Minorista:</label>
            <div class="col-sm-4">
                <input name="price_max" value="{{ products[count.value].price_min }}" type="text" placeholder="Inserte el nuevo nombre" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <label class="col-sm-2 col-form-label">Precio Mayorista:</label>
            <div class="col-sm-4">
                <input name="price_min" value="{{ products[count.value].price_max }}" type="text" placeholder="Inserte el nuevo nombre" class="form-control">
            </div>
        </div>
    <button onclick="showAlert()" class="btn btn-primary col-sm-2 col-form-label create" type="submit" id="guardar">Editar</button>
    </form>
    {% set count.value = count.value + 1 %}
    {% endfor %}
    <a href="https://nico92-pe-code50-94309353-97wx995w42x759-5000.preview.app.github.dev/productos">
        <button class="btn col-sm-2 col-form-label cancel" id="cancelar">Cancelar</button>
    </a>

{% endblock %}